<!DOCTYPE html>
<html>
<head>
    <title>Sixuan Li - HEMA GO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="nav">
    <div class="nav-title"><img src="/images/index/muben logo.png" width="10%" > Sixuan Li</div>
    <ul>
        <li onclick="window.location.href='/'">Work</li>
        <li onclick="window.location.href='/about'">About</li>
    </ul>
</div>
<div class="content-container">
    <div class="paragraph">
        <table class="table-4">
            <tr>
                <td width="15%" >
                <p><p/>
                </td>
                <td width="40%" >
                    <img src="/images/about/1.jpg" width="85%" >
                </td>
                <td width="45%">
                    <h2>Hi~ I‘m Sixuan</h2>
                    <p>
                    B.Eng in Industrial Design @<br/>
                    College of Computer Science, <br/>
                    Zhejiang University<br/>
                    <br/>
                    Tying to combine<br/> 
                    design & technology<br/>
                    <br/>
                    Work on creating things that assist <br/>
                    people in an intuitive, inspiring <br/>
                    and un-intrusive way <br/>
                    </p>
                    <table class="table-5" >
                        <tr> 
                            <td width="30%"><p><b>Resume <b/> </p></td>    
                            <td width="17%">
                                <img src="/images/about/linkedin.png" width="40%" >
                            </td>
                            <td width="17%">
                                <img src="/images/about/facebook-box.png" width="40%" >
                            </td>
                            <td width="17%">
                                <img src="/images/about/email.png" width="40%" >
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>                            
        </table>
    </div>
</div>
<div class="copyright">
        <div class="image-middle-container">
            <img src="/images/index/muben logo.png" width="2%" style="margin: 20px 0" >
        </div>
      Copyright&copy;2018 Sixuan Li. All Rights Reserved.
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
