<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114063477-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114063477-1');
</script>
    <title>Sixuan Li - HEMA GO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="nav">
    <div class="nav-title" onclick="window.location.href='/'"  style="cursor: pointer;" ><img src="/images/index/muben logo 2.png" width="6%" > Sixuan Li</div>
    <ul>
        <li onclick="window.location.href='/'">Work</li>
        <li onclick="window.location.href='/about'">About</li>
    </ul>
</div>
<img src="/images/\hema\1.png" class="bannner">
<div class="first-page">
    <div class="content-container">
        <table class="left-and-right">
            <tr>
                <td class="left-and-right-left">
                    <div class="right-border">
                        <div class="paragraph">
                            <h1>HEMA-GO Fresh</h1>
                            <p>
                                HEMA Fresh is a pioneer of new retailing, based on a combination of online and offline experiences. The offline shops help to increase the customer’s frequency of ordering online as they can view the quality of products in store, and the online application helps as a platform to know about the news for the offline shops and to easily order food for home delivery. The shop focuses on fresh seafood to drive its sales. Under this kind of business model, the goal of HEMA is to increase sales in the online application, and in the meanwhile, to get higher shares in the food market.<br/>
                               <br/>
                                In relation to HEMA’s current goal, we undertook an iterative design process to generate more online sales for HEMA. We analyzed target customers and the existing market situation, as well as building a multi-stakeholder business model around our final concept proposal.<br/>
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>
                                <table class="table5">
                                        <tr>
                                            <td style="font-weight:normal">
                                                Duration
                                            </td>
                                            <td>
                                                    July, 2017
                                            </td>
                                        </tr>
                                        <tr>
                                                <td style="font-weight:normal">
                                                    Clients
                                                </td>
                                                <td>
                                                    <a style="text-decoration: none; color: rgb(0, 0, 0);border-bottom:1px dashed rgb(160, 160, 160);" href="http://www.alibabagroup.com/cn/global/home" target="blank">
                                                    Alibaba Group
                                                    </a>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td style="font-weight:normal">
                                                    Advisors
                                                </td>
                                                <td>
                                                    <a style="text-decoration: none; color: rgb(0, 0, 0);border-bottom:1px dashed rgb(160, 160, 160);" href="https://www.tue.nl/en/university/departments/industrial-design/department/staff/detail/ep/e/d/ep-uid/20001067/" target="blank">
                                                    Prof. Yuan Lu @TU/e
                                                    </a>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td style="font-weight:normal" valign="top">
                                                    Team
                                                </td>
                                                <td>
                                                    Sixuan Li, Xinyan Luo, Jinglan Yang, Laura Power @TU/e, Ivan Tang @SUTD
                                                </td>
                                        </tr>
                                        </table>
                            </p>
                        </div>
                </td>
                <td class="left-and-right-right">
                    <div>
                        <div class="paragraph">
                            <h3>My role</h3>
                            <p>
                                User Researcher <br/>
                                Interaction Designer <br/>
                            </p>
                        </div>
                        <div class="paragraph">
                            <h3>Skills</h3>
                            <p>
                                Business Analysis<br/>
                                User Study<br/>
                                Persuasive Design<br/>
                                Prototyping<br/>
                                Storytelling
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="title pink">
            <h1>Background</h1>
            <h2>——Research on Target User</h2>
        </div>
        <div class="paragraph">
            <h3>Design challenge</h3>
                <table class="table-2">
                    <tr>
                        <td>
                            <img src="/images/hema/persona.png">
                        </td>
                        <td>
                            <p>
                                Zheng aspires to have a good quality of life for her and her family. She feels social pressure to live a elegant lifestyle. Zheng shops at HEMA to buy high quality seafood, but she hesistates about the quality and delivery of food through online ordering. When Zheng visits HEMA’s store once a month, she is frustrated by the queues and carrying heavy grocery bags home. She also finds it tedious to search for diverse recipes that her family can enjoy.<br/>
                                How can design to reduce Zheng’s worries and make shopping in HEMA a pleasurable part of her daily life? 
                            </p>
                        </td>
                    </tr>
                 </table>
                 <p>
                 Our group recognises the value of HEMA’s approach in creating a great offline store experience. Our group aims to discover ways in which we can innovate HEMA’s current business model without introducing radical changes. 
                </p>
        </div>
        <div class="paragraph">
            <h3>Target User</h3>
            <div class="image-middle-container">
            <img src="/images/hema/4.png" width="50%" margin="20px 0">
            </div>
            <p>
                As our target market group is young (20-35 year old), we are working on the asssumption that they are reasonably tech-savvy and are open to using more novel mobile application technologies.
            </p>
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="title pink">
            <h1>Problem</h1>
            <h2>——Where We Should Focus on</h2>
        </div>
        <div class="paragraph">
            <h3>Interview with HEMA’s employees</h3>
            <p>
                    In a discussion with one of HEMA’s employees, our group picked up on some areas which we could work on.<br/>
                    First, the store was getting more popular amongst local chinese for its seafood cuisine. An increase in awareness of Hema’s brand could lead to even more customers coming to its store. Without dealing with this issue, the future experience of customers might not be as favourable. Hence, we wanted to improve on the store’s payment process.<br/>
                    Second, greater numbers of visitors to the physical store are not translating into greater amounts of online sales. Customers might be unaware of Hema’s online presence and treat it as another restaurant concept. The creation of a mobile application that is meant to be used both in the store and outside could help to bridge the gap between the online and offline environment.
            </p>
        </div>
        <div class="paragraph">
                <h3>System Analysis</h3>
                <img src="/images/hema/5.png" width="60%" margin="20px 0">
        </div>
        <div class="paragraph">
                <h3>Design Goal</h3>
                <p>
                        Increase online sales through an improved store experience.
                </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="title pink">
            <h1>Final Concept</h1>
            <h2>——HEMA-GO Fresh</h2>
        </div>
        <div class="image-middle-container">
            <img src="/images/hema/6.png" width="90%">
        </div>
        <div class="paragraph">
            <p>
                    Our final concept involves three main areas during customers offline shopping experience:<br/>
                    1. An application for mobile payment<br/>
                    2. Presentation of nutritional information<br/>
                    3. Recipe recommendations for home-cooking<br/>
            </p>     
        </div>
        <div class="paragraph">
            <h3>HEMA-GO Walk Through</h3>
                <p>
                        Zheng walks into the Hema store and picks up on a fresh-looking fish form the corner of her eye.<br/>
                        She then walks towards the counter and scans the fish with her phone. The image recognition technology recognises the type of fish and displays it on her phone.<br/>
                        Zheng continues walking along the store shelves and spots a nice tin of tea. She wants to purchase it and scans the tea with her phone. As she shakes the phone, the tea is automatically placed into her virtual shopping cart.                        
                </p> 
                <img src="/images/hema/7.png" width="90%" margin="50px 20px"> 
            <table class="table-4">
                <tr>
                    <td>
                        <p>
                                From the application, she is able to see:  <br/>
                                1. An option to put the fish into a virtual shopping cart   <br/>
                                2. An option to consume the fish in the in-store restaurant   <br/>
                                3. Recipe recommendations for the fish for cooking at home   <br/>
                                4. The source and nutritional information of the fish
                        </p>
                    </td>
                    <td>
                            <img src="/images/hema/UI.png" width="80%">
                    </td>
                </tr>
            </table>
            <p>
                    Zheng can now pay for the fish and the tea from the online application without waiting in a long queue and paying at a physical counter in-store.<br/>
                    She leaves the store with her hands free, and when she arrives home 30 minutes later her groceries are delivered to her door step.
            </p>
            <img src="/images/hema/8.png" width="70%" margin="50px 20px">  
        </div>
        <div class="paragraph">
                <h3>Mobile Application</h3>
                <div class="image-middle-container">
                        <img src="/images/hema/9.png" width="100%" margin="20px 20px">
                </div> 
                <p class="video">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/566uPVXz5_Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </p> 
        </div>
        <div class="paragraph">
                <h3>Concept Value</h3>
                <p>
                        At the core of our concept, there is a drive by the need to increase online sales through the improvement of the offline store experience. HEMA’s physical stores are popular amongst young-crowds mainly for the fresh seafood. Our objective is to link users to the online application while in the physical store.<br/>
                        <br/>
                        Usage of our online application within the store does two things:<br/>
                        <b>1. Familarity</b><br/>
                        Users are encouraged to use the online application even when they are not physically at the store as they are more familiar with it.<br/>
                        <b>2. Trust</b><br/>
                        Users are more trusting of the quality of HEMA’s products even when online since the connection to viewing products online within the store, where they currently trust the quality, is triggered.
                </p> 
                <div class="image-middle-container">
                        <img src="/images/hema/10.png" width="50%" margin="50px 50px">
                </div> 
                <p>
                        To improve the offline–online experience, our concept involves 3 strategies:<br/>
                        First, an application is created which allows users to pay in the store without needing to check-out at a physical counter. This improves the seamlessness of the in-store experience, addressing the issue of crowdedness. In addition, it conditions users to make payments through our app. This means that there is less inertia to using our application even when they are at home.<br/>
                        Second, our application will track our users’ product history and movement throughout the store. From this, we will be better able to determine our users’ preferences for certain foods as a form of data collection. We can then tailor future recommendations towards a specific user, thereby further improving their experience at HEMA through personalization and tailoring.<br/>
                        Third, our application will be equipped with image recognition technology that allows it to recognize Hema’s products. Users will be able to determine the nutritional information of categories of food within the store. On top of that, details such as the place of origin of the food can be displayed to the consumer. Again, this helps to improve the overall experience of the physical store.
                </p>   
        </div>
        <div class="paragraph">
            <h3>Interview with Users</h3>
            <p><br/>
            </p>
                <div class="image-middle-container">
                        <img src="/images/hema/11.png" width="100%" margin="40px 40px">
                </div> 
                <p>
                    <b> “This application would be very useful. I have to bring my child to the supermarket and with this app I could be more hands-free”</b>
                </p>     
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="title pink">
            <h1>Business Outline</h1>
            <h2>——An Overview of Business Model</h2>
        </div>
        <div class="paragraph">
            <h3>Business Model Canvas</h3>
        </div>
        <div class="image-middle-container">
                <img src="/images/hema/12.png" width="90%" margin="40px 40px">
        </div> 
        <div class="paragraph">
            <h3>Motivation Matrix</h3>
            <p>
                <br/>
            </p>
            <div class="image-middle-container">
                    <img src="/images/hema/13.png" width="60%" margin="40px 40px">
            </div>
            <p>
                    With investment from Alibaba, we would gain the resources to start up our application and give additional publicity for HEMA. In this instance, Alibaba will provide their data collection expertise for our business which would likely be expensive for HEMA. Money provided by Alibaba will allow us to hire external chefs for recipe creation. In addition, we will be able to hire application developers to improve the online payments process.<br/>
                    As can be seen under our revenue streams, the sale of seafood forms a small part of the profits. A greater influence on the bottom line can be attributed to the sale of complementary ingredients to the sale of seafood. This is a good validation for us to focus on the ease with which consumers should be able to buy the accompanying ingredients for their selected choice of seafood.<br/>
                    A big part of our costs can be mitigated through our partnership with Alibaba, such as big data analysis and application development. However, HEMA would still have to spend money on the redesigning their store layout to make it more suitable for coherent use with our online application (removing cashier counters, for example).<br/>
                    The motivation matrix (right) highlights the key stakeholders involvement. It also provides examples of how to enlist the help of partners by discovering how their benefits and gains for the business. The motivation matrix shows that both Alibaba and HEMA stand to gain from a partnership with one another within our business proposal, therefore strengthening it’s feasibility.<br/>
            </p>
        </div>
        <div class="paragraph">
                <h3>Purpose and How We Can Achieve It</h3>
        </div>
        <div class="image-middle-container">
                    <img src="/images/hema/14.png" width="60%" margin="40px 40px">
        </div> 
    </div>
</div>
<div class="dark-page">
        <div class="content-container">
            <div class="title pink">
                <h1>Design Process</h1>
                <h2>——Ideation, Prototyping and Iteration</h2>
            </div>
            <div class="paragraph">
                <h3>User-Centered Design Research</h3>
                    <table class="table-4">
                        <tr>
                            <td>
                                <p>
                                        In order to narrow and empathize with likely target customers, we interviewed three females who usually buy food for their family.<br/>
                                        From the interviews, in combination with additional online research, it became evident that people between the age of 25-35 who are middle-upper class like to shop at HEMA Fresh Seafood, because they have the financial capability, enjoy quality and are open to new things. We discovered, more specially, that for all the interviewees, they would like to enhance their shopping efficiency via the process.<br/> 
                                        According to the several interviews, we made a persona which drove upcoming design decisions.
                                </p>
                            </td>
                            <td>
                                    <img src="/images/hema/15.png" width="100%" margin="20px">
                            </td>
                        </tr>
                    </table>
            </div>
            <div class="paragraph">
                <h3>Persona</h3>
                <table class="table-2">
                        <tr>
                            <td width="15%">
                                <img style="margin: 0" src="/images/hema/3.png" width="100%">
                            </td>
                            <td width="30%" style="padding: 30px 40px">
                                <p>
                                    Age: 32<br/>
                                    Occupation: Teacher<br/>
                                    Family members: <br/>
                                    Husband & daughter<br/>
                                    Location: Apartment
                                </p>
                            </td>
                            <td width="55%">
                                <p>
                                    “Zheng is a teacher in ZJU. During her work, usually she has little time to order food and think about what to prepare for her family at meal time. She has a daughter, age 5, which means she is responsible for preparing nutritious dishes for her. But sometimes after work Liu only has limited time for buying food and food preparation.”
                                </p>
                            </td>
                        </tr>
                </table>    
            </div>
            <div class="paragraph">
                    <h3>Persuasive Design Principles</h3>
                    <p>
                            As our main design innovation revolves around the mobile application, our group has tried to implement as many persuasive principles into the user interface design as possible.<br/>
                            Such principles include:<br/>
                            1. Tailoring & Personalisation of recipes. Based on the users’ movements through the store while using the application, we can track what categories of food products they would tend to move towards.<br/>
                            2. Suggestion. An understanding of a user’s taste will allow us to create recommendations of food products to buy. <br/>
                            3. Reduction. Instead of carrying their food products to the cashier to check out, our mobile application allows for users to purchase their products immediately with the shake of their phone screen. This makes things easier than going through the multi-step process of typical online purchases.<br/>
                    </p>
            </div>
            <div class="paragraph">
                <h3>HEMA & Competitor Analysis</h3>
                <p>
                    After further research, we created a second strategy canvas which regards more 020 supermarket companies that are HEMA’s more direct competitors within the field.
                </p>
                <div class="image-middle-container">
                    <img src="/images/hema/16.png" width="70%" margin="40px 40px">
                </div>
                <p>
                        <b>HEMA’s features</b><br/>
                        By analyzing HEMA’s direct competitors, we gained an understanding from our own perspective about HEMA’s key features and market strategy.<br/>
                        <b>- Brand building</b><br/>
                        HEMA builds its brand with an exquisite offline store, food with good quality and convenient delivery within 30 minutes.<br/>
                        <b>- Very wide range & Low degree of openness</b><br/>
                        HEMA’s ambition is that their customers buy all components for a meal from them. HEMA has a closed system to some extent, just like Apple, and they want to provide all the fresh groceries you need so they can replace ordinary supermarkets. Once customers buy everything they need in HEMA and they trust HEMA’s service and quality, they can form the habit of doing their entire daily shopping at HEMA.
                </p>
            </div>
        </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="title pink">
                    <h1>Discussion</h1>
                    <h2>——Iteration & Reflection</h2>
        </div>
        <div class="paragraph">
            <h3>Improvements to Process</h3>
            <p>
                    Our orginial concept involved using real-time pictures of Hema’s products to consumers as a display of quality. This concept was based on the idea that our users determined the freshness of the goods by the color of the leaves and the fruit. This meant that the physical appearance of the product had a big role in influencing our consumers’ decisions.<br/>
                    Also, we wanted to create simple but inspiring recipes to our target market group who we believed had sub-optimal cooking skills. This is because the practice of cooking amongst the younger generations of chinese tend to be less prevalent.<br/>
                    After taking into consideration HEMA’s approach, we made significant changes to our final concept. In essence, we have improved on the ways in which we can create tailored recipe recommendations to improve the experience of Hema’s brand. In addition, we found an effective method which can create more offline-online convertions while also reducing overcrowding at Hema’s stores.
            </p>

        </div>
        <div class="paragraph">
                <h3>Improvements to Process</h3>
                <p>
                        Our orginial concept involved using real-time pictures of Hema’s products to consumers as a display of quality. This concept was based on the idea that our users determined the freshness of the goods by the color of the leaves and the fruit. This meant that the physical appearance of the product had a big role in influencing our consumers’ decisions.<br/>
                        Also, we wanted to create simple but inspiring recipes to our target market group who we believed had sub-optimal cooking skills. This is because the practice of cooking amongst the younger generations of chinese tend to be less prevalent.<br/>
                        After taking into consideration HEMA’s approach, we made significant changes to our final concept. In essence, we have improved on the ways in which we can create tailored recipe recommendations to improve the experience of Hema’s brand. In addition, we found an effective method which can create more offline-online convertions while also reducing overcrowding at Hema’s stores.
                </p>
                <div class="image-middle-container">
                        <img src="/images/hema/17.png" width="80%" margin="40px 40px">
                </div>
        </div>
        <div class="paragraph">
                <h3>Improvements to Concept</h3>
                <p>
                    According to the exposure-effect theory people tend to be prefer things that are most familiar to them. Greater time spent on our application triggers customers to use the app automatically while they are at home. Encouraging the use of the online app during their offline experience is critical in ensuring the offline to online transition.
                </p>
        </div>
        <div class="paragraph">
                <h3>Key Takeaways for HEMA</h3>
                <p>
                        The use of the physical stores to promote its online goods is a valuable tool. It helps to build trust in HEMA’s brand. However, the high costs of real estate means that HEMA would have to create a more efficient in-store environment to respond to the increasing visitor numbers. Overcrowding could negatively affect customers’ experience of the store.<br/>
                        The use of an online payments system could help to reduce waiting times and improve revenue at the store. Also, it familiarises customers with the online payment environment of HEMA. This would make them more willing to buy groceries from HEMA even if they are not at the physical store.<br/>
                        Tracking of customers’ activities in the store via the application is also important in helping understand the tastes of Hema’s customers. Hema can then create tailored recipe recommendations for its customers and find out more ways in which it can satisfy its customers.<br/>
                </p>
        </div>
    </div>
    <img src="/images/\hema\18.png" class="bannner">
</div>
<div class="light-page">
        <div class="content-container">
            <div class="ending-pointer">
                <div onclick="window.location.href='/'">
                    <span class="next">Next Project</span><br/>
                    <span class="project">Lumii</span>
                </div>
            </div>
        </div>
</div>

<div class="copyright">
        <div class="image-middle-container">
            <img src="/images/index/muben logo 2.png" width="24px" hight="24px" style="margin: 20px 0" >
        </div>
      Copyright&copy;2018 Sixuan Li. All Rights Reserved.
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
