<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114063477-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114063477-1');
</script>
    <title>Sixuan Li - iCushion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="nav">
    <div class="nav-title" onclick="window.location.href='/'"  style="cursor: pointer;" ><img src="/images/index/muben logo 2.png" width="6%" > Sixuan Li</div>
    <ul>
        <li onclick="window.location.href='/'">Work</li>
        <li onclick="window.location.href='/about'">About</li>
    </ul>
</div>
<img src="/images/icushion/bannner iCushion update.png" class="bannner">
<div class="first-page">
    <div class="content-container">
        <table class="left-and-right">
            <tr>
                <td class="left-and-right-left">
                    <div class="right-border">
                        <div class="paragraph">
                            <h1>iCushion</h1>
                            <p>
                                iCushion is a smart cushion that helps children improve their sitting posture. It can be viewed as an intelligent system that samples and analyses multi-channel data, provides health advice, and thereby helps children develop healthy sitting habits.
                            <br/>
                            </p>
                            <br/>
                        </div>
                        <div class="paragraph">
                            <p>
                                <table class="table5">
                                        <tr>
                                            <td style="font-weight:normal">
                                                Duration
                                            </td>
                                            <td>
                                                May 2016 - May 2017
                                            </td>
                                        </tr>
                                        <tr>
                                                <td style="font-weight:normal">
                                                    Advisors
                                                </td>
                                                <td>
                                                    <a style="text-decoration: none; color: rgb(0, 0, 0);border-bottom:1px dashed rgb(160, 160, 160);" href="http://www.cs.zju.edu.cn/english/redir.php?catalog_id=103936&object_id=104406" target="blank">
                                                    Prof. Shouqian Sun @ZJU
                                                    </a>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td style="font-weight:normal">
                                                    Team
                                                </td>
                                                <td>
                                                    Sixuan Li, Wendong Liu, Yiping Zhou
                                                </td>
                                        </tr>
                                        </table>
                            </p>
                        </div>
                    </div>
                </td>
                <td class="left-and-right-right">
                    <div>
                        <div class="paragraph">
                            <h3>My role</h3>
                            <p>
                                Project Lead <br/>
                                Researcher <br/>
                                UX Designer
                            </p>
                        </div>
                        <div class="paragraph">
                            <h3>Skills</h3>
                            <p>
                                Product Design <br/>
                                Interaction Design <br/>
                                Field Research<br/>
                                Data Analysis <br/>
                                Project Management
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="title blue">
            <h1>WHY</h1>
            <h2>——Background Research</h2>
        </div>
        <div class="paragraph">
            <h3>Large gaps in health services for children</h3>
            <p>
                While children aged 0-14 years make up 17% of the population in China, there is <b>a large gap in medical services for children</b>. Moreover, children's demand for safety is higher than adults. In this context, they need targeted products to prevent pressure-related diseases.
            </br>
            <div class="image-middle-container">
                <img src="/images/icushion/graph.png" width="35%">
            </div>
            </p>
        </div>
        <div class="paragraph">
            <h3>Children have serious problems in sitting posture</h3>
            <p>
                The Internet research index and purchasing index for sitting diseases suggest that this issue has raised concerns among parents.
            </p>
        </br>
            <div class="image-middle-container">
                <img src="/images/icushion/problem.png" width="80%">
            </div>
        </div>
        <div class="paragraph">
            <h3>Sitting posture is worried by parents</h3>
            <p>
                Our questionnaire survey shows that nearly 90 percent of children are faced with health problems caused by poor sitting postures, and half of parents also purchase products like study desks and spinal orthotics from the market to solve the problems.
            </br>
        </br>
                <div class="image-middle-container">
                    <img src="/images/icushion/questionair.png" width="80%">
                </br>
                    Questionnaire survey of about sitting-related diseases and posture correcting products
                </div>
            </p>
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="title blue">
            <h1>Literature Research</h1>
            <h2>——Sitting Disease</h2>
        </div>
        <div class="paragraph">
            <h3>Literature Research</h3>
            <p>
                We collected relevant medical literature, including <b>pathology papers</b> on pressure disease and <b>epidemiological reports</b> on children's sitting posture, and formed a self-consistent theory for product design.
            </p>
        </div>
        <div class="paragraph">
            <h3>Findings</h3>
            <p>
                · Adolescents' spines are more vulnerable than adults’.</br>
                · Spinal problems are common among adolescents, and are positively correlated with learning intensity.</br>
                · The increase in children’s workload makes them stay seated for longer. Their sitting postures are generally incorrect, but the utilization rate of sitting position corrector is low.
            </p>
        </div>
            <div class="quote">
                <p>
                    <img src="/images/icushion/homework.png" width="50%"></br>
                    Since the third grade of primary school, the average assignments of Chinese children has exceeded three hours a day, and reached more than four hours in the third grade of middle school.</p>
                
            </div>
        <div class="paragraph">
            <p>
                · In the academic world, there are few reports on the related diseases of young people.</br>
                · Cervical spondylosis of children is not caused by cervical degeneration, but is <b>due to cramping fatigue and accumulation of chronic bad habits</b>.    
            </p></br>
            <div class="image-middle-container">
                    <img src="/images/icushion/causes.png" width="90%"></br>
            </br>Causes of Sitting Disease
            </div>
        </div>
        <div class="paragraph">
                <p>
                · The psoas’ load is the lightest with the back of chair supporting it. 
                </p></br>
                <div class="image-middle-container">
                        <img src="/images/icushion/back.png" width="20%"></br>
                </br>Product Form
                </div>
        </div>
        <div class="paragraph">
                <h3>Insights</h3>
            </br></br>
                <div class="image-middle-container">
                        <img src="/images/icushion/insights.png" width="70%"></br>
                </div>
        </div>
</div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="title blue">
            <h1>Market Research</h1>
            <h2>——Find the Market Gap</h2>
        </div>
        <div class="paragraph">
            <h3>Market Overview</h3>
                <p>
                    · Children make up a large proportion of total household expenditure.</br>
                    · Children's products in the market mainly focus on appearance, but there is no difference in function between them and ordinary products.</br>
                    · Key points for children's seat: Safety & Fun.     
                </p>
        </div>
        <div class="paragraph">
            <h3>Related Patents</h3>
                <p>
                    <b>Posture Corrector</b></br>
                    The overall number of such patents is large, but there are only a few commercial products.</br>
                    This type of products mainly include tables that limit sitting posture with physical structure, smart devices that detect sitting posture with a camera, posture correctors that prevent improperly leaning forward.</br>
                    <b>Children's Chair</b></br>
                    Children’s chairs with the function of posture adjustment are far less than office chairs, and the overall design of them is more primitive.                   
                </p>
        </div>
        <div class="paragraph">
                <h3>Competitive Analysis</h3>
                <table class="table">
                    <tr class="table-head">
                        <th>Products</th>
                        <th>Features</th>
                    </tr>
                    <tr class="table-tr-odd">
                        <td>Optimal Posture Office Chair</td>
                        <td>No traditional backrest area <br/>A hand bracket in the front</td>
                    </tr>
                    <tr class="table-tr-even">
                        <td>LUMO</td>
                        <td>Motor condition detection<br/> Sitting posture reminder<br/> Smart shock belt</td>
                    </tr>
                    <tr class="table-tr-odd">
                        <td>Kneeling chair</td>
                        <td>Correct posture by sitting on the Chair in a kneeling position</td>
                    </tr>
                </table>
        </div>
    </div>
</div>
</div>
<div class="light-page">
        <div class="content-container">
            <div class="title blue">
                <h1>User Study</h1>
                <h2>——What the Painpoint is</h2>
            </div>
            <div class="paragraph">
                    <h3>Questionare</h3>
                        <p>
                                According to the questionnaire survey, we found that half of the children's daily workload was over 3 hours, which caused parents' worries about their health. But only a few parents were trying to take actions to control how long the child stays seated, with even fewer parents trying to use smart products.
                        </p>
                    </br>
                        <div class="image-middle-container">
                                <img src="/images/icushion/user questionare.png" width="100%"></br>
                        </div>
            </div>
            <div class="paragraph">
                    <h3>Persona</h3>
                </br>
                        <div class="image-middle-container">
                                <img src="/images/icushion/persona.png" width="100%"></br>
                        </div>
            </div>
        </div>
</div>

<div class="dark-page">
    <div class="content-container">
        <div class="title blue">
            <h1>Assumption</h1>
            <h2>——Design Goals</h2>
        </div>
        <div class="image-middle-container">
            <img src="/images/icushion/ASSUMPTION.png" width="80%">
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="title blue">
            <h1>Experiment</h1>
            <h2>——Quantitative Analysis of Children’s Sedentary Behaviors</h2>
        </div>
        <div class="paragraph">
            <h3>Preview</h3>
            <p>In order to explore the relationship between different sitting positions and pressure data, we conduct field research in a primary school, and carry out experiments.</p>
        </div>
        <div class="paragraph">
            <h3>Experiment Design</h3>
            <p>
                    <b>Purpose</b></br>
                    We detect the pressure when children is doing writing, painting and reading in order to obtain pressure data under the natural state, take videos and use the coordinate to record the bending degree so as to analyze the pressure value in oblique and bending situations.</br>
                    <b>Assumption</b></br>
                    · The sitting position and body pressure are quite different when children perform different tasks </br>
                    · We can speculate the sitting position of children through the pressure data sampling of a cushion plane</br>
                    <b>Tasks</b></br>
                    Taking records of:</br>
                    · Bacis physical information of children</br>
                    · Changes in sitting posture when children perform different tasks </br>
                    · Real-time data obtained by pressure mats    
                    <table class="table-4" width="100%">
                            <tr>
                                <td width="50%">
                                    <p>
                                            <b>Equipments</b></br>
                                            · Pressure Distribution Test System (Tek-scan BPMS)</br>
                                            · Pressure Mats (CD4051)</br>
                                            · Task lists</br>
                                            · Children's tables and chairs</br>
                                            · Camera * 2</br>
                                            · Wall ruler</br>
                                            · Record Form </br>
                                            · Weighing Scale</br>
                                            · Feedback sheets and gifts</br>
                                    </p>
                                </td>
                                <td width="55%">
                                    <p style="margin:15px">
                                        <img src="/images/icushion/tasks.png" width="50%">
                                    </p>
                                </td> 
                            </tr>
                    </table>               
            </p>
        </div>
        <div class="paragraph">
                <h3>Experiment Process</h3>
                <p>There were 20 primary school children between the ages of 7 and 12 particapated in our experiment, and we recored the pressure data, took videos of sitting position in side view and the experiment itself.</p>
        </div>
        <img src="/images/icushion/Group 11.1.png" class="img-full-width">
        <div class="paragraph">
            <h3>Sitting Posture Analysis</h3>
            <p>We preliminarily analyzed the corresponding relationship between the inclination degree, the curvature degree and the hip pressure data, and completed <b>an analysis report</b>.</p>
            <p>Inclination degree = arctan∠3 <br/>
                Inclination degree = curvature（π-∠1-∠2）</p>
            <div class="image-middle-container">
                <img src="/images/icushion/Group 11.2.png" witdh="80%">
            </div>
        </div>
        <div class="paragraph">
            <h3>Conclusion</h3>
            <p>Through the quantitative analysis of sitting postures and pressure figures, we came to three conclusions:<br/>
                1. When children are in reading, writing or painting, the pressure data is not very different. This shows that <b>learning scenarios do not need to be further divided</b>. <br/>
                2. Compared with sitting position, the relative position of children has a greater impact than sitting postures on pressure data. The <b>shape of the cushion should be able to fix the relative position of children sitting on it</b>.<br/>
                3. It is difficult to determine the degree of curvature of the back of a child only through the pressure data sampling of the cushion plane, so the <b>sample points should also be set on the backrest</b>.</p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="title blue">
            <h1>Design</h1>
            <h2>——Product Design and Prototyping</h2>
        </div>
        <div class="paragraph">
                <h3>User Scenarios</h3>
                <br/>
                <div class="image-middle-container">
                    <img src="/images/icushion/storyboard 2.png">
                </div>
        </div>
        <div class="paragraph">
            <h3>Cushion Design</h3>
            <br/>
            <br/>
            <div class="image-middle-container">
                <img src="/images/icushion/Group 12.png" width="100%">
            </br>
            <br/>
            <br/>
                <img src="/images/icushion/model.png" width="100%">
            </div>
        </div>
        <div class="paragraph">
            <h3>Prototyping</h3>
            <p>
                The prototype is made from <b>Memory Foam</b> which is both supporting and soft.
            </p>
            <div class="image-middle-container">
                <img src="/images/icushion/Group 8.png" width="90%">
            </div>
            <p>
                We use <b>Arduino</b> to collect the data of <b>pressure sensors</b> and transmit it to the mobile phone through <b>Bluetooth</b>.
            </p>
            <div class="image-middle-container">
                    <img src="/images/icushion/icTesting.png" width="90%">
                </div>
        </div>
        <div class="paragraph">
            <h3>Mobile App Design</h3>
            <p>
                We placed six membrane pressure sensors in the cushion as sampling points, and their readings corresponded to six sectors in the app. We also collected the pressure distribution when children sat on it in normal sitting position and set it as the initial value. <br/>
                When using iCushion, the greater the deviation from the initial values for the six sample points, the lower the score in the app.
            </p>
            <div class="image-middle-container">
                <img src="/images/icushion/data visualization.png" width="65%">
            </div>
            <br/><br/><br/>
            <div class="image-middle-container">
                    <img src="/images/icushion/iCushionFlowchart.png" width="45%"></br>
                    System Flow Chart of the mobile app
            </div>
        </div>
        <div class="image-middle-container">
                <img src="/images/icushion/prototype.png" width="100%">
        </div>
    </div>
</div>
<div class="light-page">
        <div class="content-container">
            <div class="ending-pointer">
                <div onclick="window.location.href='/hema'">
                    <span class="next">Next Project</span><br/>
                    <span class="project">HEMA GO Fresh</span>
                </div>
            </div>
        </div>
</div>
<div class="copyright">
        <div class="image-middle-container">
            <img src="/images/index/muben logo 2.png" width="24px" hight="24px" style="margin: 20px 0" >
        </div>
        Design & Coded by Sixuan Li &copy; 2017
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
