<!DOCTYPE html>
<html>
  <head>
    <title>Sixuan Li</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="nav-title">SIXUAN LI</div>
      <ul>
        <li onclick="window.location.href='/'">Work</li>
        <li>About</li>
      </ul>
    </div>
    <div class="index-view">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/1.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)" onclick="window.location.href='/wandpoint'">
                <div class="hint-hind">
                  <div>
                    <h1>Wandpoint</h1>
                    <p>Adding a new dimension to reality <br/>Product Design | Augmented Reality</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/2.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)" onclick="window.location.href='/sandword'">
                <div class="hint-hind">
                  <div>
                    <h1>SandWord</h1>
                    <p>A self-help APP that alleviates <br/> emotional problems <br/> Mobile APP | User Research | <br/> Interaction Design</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/3.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)" onclick="window.location.href='/icushion'">
                <div class="hint-hind">
                  <div>
                    <h1>iCushion</h1>
                    <p>A smart cushion that helps children <br/> improve their sitting posture <br/> Product Design | HCI Research |</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/4.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)">
                <div class="hint-hind">
                  <div>
                    <h1>Lumii</h1>
                    <p>A smart home platform <br/> Intelligent System | HCI Research</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>

</html>
