<!DOCTYPE html>
<html>
  <head>
    <title>Sixuan Li</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="nav-title"><img src="/images/index/muben logo.png" width="10%" > Sixuan Li</div>
      <ul>
        <li onclick="window.location.href='/'">Work</li>
        <li onclick="window.location.href='/about'">About</li>
      </ul>
    </div>
    <div class="index-view">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/wpimg.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)" onclick="window.location.href='/wandpoint'">
                <div class="hint-hind">
                  <div>
                    <h1>Wandpoint</h1>
                    <p>Adding a new dimension to reality <br/>Product Design | Augmented Reality</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/sandword img.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)" onclick="window.location.href='/sandword'">
                <div class="hint-hind">
                  <div>
                    <h1>SandWord</h1>
                    <p>A self-help APP that alleviates <br/> emotional problems <br/> Mobile APP | User Research | <br/> Interaction Design</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/icushion img.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)" onclick="window.location.href='/icushion'">
                <div class="hint-hind">
                  <div>
                    <h1>iCushion</h1>
                    <p>A smart cushion that helps children <br/> improve their sitting posture <br/> Product Design | HCI Research </p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/hema img.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)" onclick="window.location.href='/hema'">
                <div class="hint-hind">
                  <div>
                    <h1>HEMA-GO Fresh</h1>
                    <p>Your connected shopping experience <br/> Business Design </p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/lumii img.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)">
                <div class="hint-hind">
                  <div>
                    <h1>Lumii</h1>
                    <p>A smart home platform <br/> Intelligent System | Design Research <br/> In Progress </p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/piano img.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)">
                <div class="hint-hind">
                  <div>
                    <h1>Playgrounds</h1>
                    <p>Concepts, VI, Games and Others </p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="copyright">
        <p>   <br/>   </p>
        <div class="image-middle-container">
            <img src="/images/index/muben logo.png" width="2%" style="margin: 20px 0" >
        </div>
      Design & Powered by Sixuan Li &copy; 2017 
   </div>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>

</html>
