<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114063477-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114063477-1');
</script>
    <title>Sixuan Li - Lumii</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="nav">
    <div class="nav-title" onclick="window.location.href='/'"  style="cursor: pointer;" ><img src="/images/index/muben logo 2.png" width="6%" > Sixuan Li</div>
    <ul>
        <li onclick="window.location.href='/'">Work</li>
        <li onclick="window.location.href='/about'">About</li>
    </ul>
</div>
<img src="/images/lumii/lumii banner.png" class="bannner">
<div class="first-page">
    <div class="content-container">
        <table class="left-and-right">
            <tr>
                <td class="left-and-right-left">
                    <div class="right-border">
                        <div class="paragraph">
                            <h1>Lumii</h1>
                            <p>
                                Smart home can be viewed as a solution to reduce the information burden of the brain. Currently, the functions of smart products in the market mainly focus voice interactions, which is using voice to control your tv ,light, coffee maker, etc.
                                <br/>
                                In our capstone project, there are five students working on the topic of AI-oriented design process, tring to build a smart home platform, as well as our individual product design projects. In the end, the five home products would be about to adapt to users' behaviors through self-iterations to  create a pleasant home experience together.
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>
                                <table class="table5">
                                        <tr>
                                            <td style="font-weight:normal">
                                                Duration
                                            </td>
                                            <td>
                                                Dec 2017 - Present
                                            </td>
                                        </tr>
                                        <tr>
                                                <td style="font-weight:normal">
                                                    Clients
                                                </td>
                                                <td>
                                                    <a style="text-decoration: none; color: rgb(0, 0, 0);border-bottom:1px dashed rgb(160, 160, 160);" href="http://www.idi.zju.edu.cn/" target="blank">
                                                    InLab, International Design Institute
                                                    </a>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td style="font-weight:normal">
                                                    Advisors
                                                </td>
                                                <td>
                                                    <a style="text-decoration: none; color: rgb(0, 0, 0);border-bottom:1px dashed rgb(160, 160, 160);" href="http://lingyunsun.com/" target="blank">
                                                        Prof. Lingyun Sun @ZJU
                                                    </a>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td style="font-weight:normal" valign="top">
                                                    Team
                                                </td>
                                                <td>
                                                    Sixuan Li, Jiaqi Wang, Xiaoyu Chen, Yiping Zhou, Ruoqing Shen
                                                </td>
                                        </tr>
                                        </table>
                            </p>
                        </div>
                </td>
                <td class="left-and-right-right">
                    <div>
                        <div class="paragraph">
                            <h3>My role</h3>
                            <p>
                                Student Researcher<br/>
                                Product Designer<br/>
                                Developer<br/>
                            </p>
                        </div>
                        <div class="paragraph">
                            <h3>Skills</h3>
                            <p>
                                Design Research<br/>
                                TensorFlow<br/>
                                Raspberry Pi

                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="title pink">
            <h1>Summary</h1>
            <h2>——Basic Ideas</h2>
        </div>
        <div class="paragraph">
            <div class="image-middle-container">
                <img src="/images/lumii/graph.png" width="75%" margin="20px 0">
            </div>
        </div>
        <div class="paragraph">
            <div class="image-middle-container">
                <img src="/images/lumii/example.png" width="70%" margin="40px 0">
            </div>
        </div>

        <div class="paragraph">
            <h3>In Progress</h3>
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="ending-pointer">
            <div onclick="window.location.href='/showcase'">
                <span class="next">Next Project</span><br/>
                <span class="project">Project Showcase</span>
            </div>
        </div>
    </div>
</div>

<div class="copyright">
        <div class="image-middle-container">
            <img src="/images/index/muben logo 2.png" width="24px" hight="24px" style="margin: 20px 0" >
        </div>
      Copyright&copy;2018 Sixuan Li. All Rights Reserved.
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
