<!DOCTYPE html>
<html>
<head>
    <title>Sixuan Li - SandWord</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="nav">
    <div class="nav-title"><img src="/images/index/muben logo.png" width="10%" > Sixuan Li</div>
    <ul>
        <li onclick="window.location.href='/'">Work</li>
        <li onclick="window.location.href='/about'">About</li>
    </ul>
</div>
<img src="/images/sandword/bannner sandwordUpdate.png" class="bannner">
<div class="first-page">
    <div class="content-container">
        <table class="left-and-right">
            <tr>
                <td class="left-and-right-left">
                    <div class="right-border">
                        <div class="paragraph">
                            <h1>SandWord</h1>
                            <p>In general, people whose symptoms are not severe enough to require medical treatment, such as those with mental disorders, are severely underestimated and <br/><unnoticed class=""></unnoticed>
                                SandWord is a psychological self-help application targeted at this group of people. It helps users ease their emotions and encourages them to ask for help through interesting interactions.
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>
                                <b>Duration</b>  4 months<br/>
                                <b>Advisors</b>   Prof. Kejun Zhang<br/>
                                <b>Team</b> Sixuan Li, Zheren Fu<br/>
                            </p>
                        </div>
                    </div>
                </td>
                <td class="left-and-right-right">
                    <div>
                        <div class="paragraph">
                            <h3>My role</h3>
                            <p>
                                Project Lead <br/>
                                Researcher & Designer <br/>
                                Developer
                            </p>
                        </div>
                        <div class="paragraph">
                            <h3>Skills</h3>
                            <p>
                                UX Design<br/>
                                Visual Design <br/>
                                Unity3D
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p class="video">
            <iframe width="854" height="480"
                    src="https://youtu.be/4R1rPlhGVJ8"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen>
            </iframe>
        </p>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="title yellow">
            <h1>WHY</h1>
            <h2>——Background Research</h2>
        </div>
        <div class="paragraph">
            <h3>Mental disorders are common</h3>
            <p>
                Under the influence of various factors in work and life, in addition to severe mental illnesses which require medication, people suffer from mental disorders like insomnia, depression, anxiety, meaningless and dysphoria.
            </p>
        </div>
        <div class="paragraph">
            <h3>Lack of social attention</h3>
            <p>
                In China's community psychological service center, most volunteers are not trained professionally.The number of professional counselors is small and the consulting fee is high.People don't have enough professional information and services to help them deal with mental disorders.
            </p>
        </div>
        <div class="paragraph">
            <h3>Unwilling to ask for help</h3>
            <p>
                According to the social survey, 98.1% of people are faced with psychological distress, but about 40 percent choose to let the problem grow or insist that professional psychological services are not required. People relieve psychological problems mainly through leisure and entertainment, but that doesn't solve the problem.
            </p>
            <div class="quote">
                <p>
                    <b class="yellow">29%</b> of people experience some kind of mental disorder during their lifetime.<br/>
                    <b class="yellow">14%</b> of illness is plagued by mental disorder.<br/>
                    At the same time <b class="yellow">20% -30%</b> of people have varying degrees of psychological disorders.<br/>
                    In developing countries, <b class="yellow">75%</b> of people affected by mental illness are not effectively treated because of lack of access.<br/>
                </p>
            </div>
        </div>
        <div class="paragraph">
            <h3>Questionnaire Inquiry </h3>
            <img src="/images/sandword/1.png" width="100%">
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="title yellow">
            <h1>User Analysis</h1>
            <h2>——why they are reluctant to seek help</h2>
        </div>
        <div class="paragraph">
            <h3>Ethnography</h3>
            <table class="table-2">
                <tr>
                    <td>
                        <img src="/images/sandword/person1.png">
                    </td>
                    <td>
                        <p>
                            I'm afraid that other people might think I am too weak, and I also agree that seeking help is a sign of weakness. They might say "We have experienced these. Do not be so hypocritical " or "It’s such a small problem". It seems like everyone else is strong and able to handle these problems.<br/>
                            Still, when you get sick you can not only go to the hospital, but also find home medicine boxes. I really want to deal with emotional problems in a private way.
                        </p>
                        <h3>Painpoints</h3>
                        <p>
                            Social pressure: Afraid of being recognized as weak
                        </p>
                        <h3>Needs</h3>
                        <p>
                            Privacy, security, freedom and social support
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/images/sandword/person2.png">
                    </td>
                    <td>
                        <p>
                            I think the problem is not that serious, and I cannot even realize it when I’m busy. Only those who have difficulty maintaining normal life need to see a psychiatrist. Moreover, I do not want to spend so much time on it.
                        </p>
                        <h3>Painpoints</h3>
                        <p>
                            Subjective factors: The problem is not serious, I can handle it myself<br/>
                            Economic reasons: Psychological counseling takes too long.
                        </p>
                        <h3>Needs</h3>
                        <p>
                            Convenient and controllable treatments
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/images/sandword/person3.png">
                    </td>
                    <td>
                        <p>
                            There are too many realistic problems in life need to be addressed, and the priority of these issues seems to be higher than my emotions and stress.<br/>
                            Moreover, psychological counseling is very expensive.
                        </p>
                        <h3>Painpoints</h3>
                        <p>
                            Economic reasons: Psychological counseling is expensive<br/>
                            Subjective factors: Mental disorders are insignificant
                        </p>
                        <h3>Needs</h3>
                        <p>
                            Low cost, mild treatments
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="paragraph">
            <h3>Design Hypothesis</h3>
            <img src="/images/sandword/2.png" style="margin: 40px 20px">
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="title yellow">
            <h1>Research</h1>
            <h2>——psychological treatment methods</h2>
        </div>
        <div class="paragraph">
            <p>
                We conduct our design by referring to therapies that require specific activities rather than general conversational counseling, for the reason that mobile app cannot replace natural conversation with people.
            </p>
        </div>
        <div class="paragraph">
            <h3>Psychotherapies</h3>
            <table class="table-3">
                <tr>
                    <td class="light-td table-3-left">
                        <h3 class="black">
                            Sandplay therapy
                        </h3>
                        <h3 class="gray">
                            Psychoanalysis
                        </h3>
                    </td>
                    <td class="light-td">
                        Accompanied by the therapist, visitors are free to choose toys from the toy shelf, and express themselves in a special sand box.
                    </td>
                </tr>
                <tr>
                    <td class="dark-td table-3-left">
                        <h3 class="black">
                            Art therapy
                        </h3>
                        <h3 class="gray">
                            Expressive therapy
                        </h3>
                    </td>
                    <td class="dark-td">
                        Use artistic materials such as chalk, painting and markers to convey emotional experience, thereby promoting transformation and improving mood.
                    </td>
                </tr>
                <tr>
                    <td class="light-td table-3-left">
                        <h3 class="black">
                            Psychological drama
                        </h3>
                        <h3 class="gray">
                            Group psychotherapy
                        </h3>
                    </td>
                    <td class="light-td">
                        Through role playing, setting view, mirror view and other psychological treatment and group experience and feedback, visitors re-experience the impact of important events on their own, so as to achieve self-integration and interpersonal harmony.
                    </td>
                </tr>
                <tr>
                    <td class="dark-td table-3-left">
                        <h3 class="black">
                            Mindfulness & Vipassana
                        </h3>
                        <h3 class="gray">
                            Cognitive behavior therapy
                        </h3>
                    </td>
                    <td class="dark-td">
                        Mindfulness is the psychological process of bringing one's attention to experiences occurring in the present moment.<br/>
                        Vipassanā, which means insight into the true nature of reality in the Buddhist tradition, can be cultivated by the practice that includes contemplation and introspection although primarily awareness and observation of bodily sensations.

                    </td>
                </tr>
                <tr>
                    <td class="light-td table-3-left">
                        <h3 class="black">
                            Empty chair
                        </h3>
                        <h3 class="gray">
                            Gestalt therapy
                        </h3>
                    </td>
                    <td class="light-td">
                        Empty chair technique is typically used when a patient might have deep-rooted emotional problems from someone or something in their life.<br/>
                        The patient faced an empty chair, imagined someone in it, and spoke, gestured, or otherwise communicated to the "empty chair", so as to become more in touch with their feelings and have an emotional conversation.
                    </td>
                </tr>
            </table>
        </div>
        <div class="image-middle-container">
            <img src="/images/sandword/3.png" width="100%">
        </div>
        <div class="paragraph">
            <h3>Evaluation dimensions</h3>
            <table class="table-3">
                <tr>
                    <td class="light-td table-3-left">
                        <h3 class="black">
                            Visibility
                        </h3>
                        <h3 class="gray">
                            Presentation
                        </h3>
                    </td>
                    <td class="light-td">
                        The treatment process is easy to visualize on mobile phone, and the user can see the progress and circumstances of the treatment from the visual presentation
                    </td>
                </tr>
                <tr>
                    <td class="dark-td table-3-left">
                        <h3 class="black">
                            Objectivity
                        </h3>
                        <h3 class="gray">
                            Consultant's role
                        </h3>
                    </td>
                    <td class="dark-td">
                        The degree of dependence on the interpretation, direction and evaluation of the consultant
                    </td>
                </tr>
                <tr>
                    <td class="light-td table-3-left">
                        <h3 class="black">
                            Universality
                        </h3>
                        <h3 class="gray">
                            Scope of
                            application
                        </h3>
                    </td>
                    <td class="light-td">
                        The treatment needs to target the majority of people with psychological disorder, rather than a particular disease
                    </td>
                </tr>
                <tr>
                    <td class="dark-td table-3-left">
                        <h3 class="black">
                            Enjoyment
                        </h3>
                        <h3 class="gray">
                            Motivation
                        </h3>
                    </td>
                    <td class="dark-td">
                        Whether the activity is attractive enough that the users will take the initiative to try it
                    </td>
                </tr>
                <tr>
                    <td class="light-td table-3-left">
                        <h3 class="black">
                            Invasiveness
                        </h3>
                        <h3 class="gray">
                            Action
                        </h3>
                    </td>
                    <td class="light-td">
                        The degree of discomfort and conflict, or the resistance encountered when using the app
                    </td>
                </tr>
            </table>
            <div class="image-middle-container">
                <img src="/images/sandword/4.png" width="60%" style="margin: 80px">
            </div>
            <p>
                As can be seen from the radar chart, Sandplay therapy has a higher overall rating in the five evaluation dimensions, so we chose it as the primary reference.
            </p>
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="title yellow">
            <h1>Sandplay Therapy</h1>
            <h2>——how it works</h2>
        </div>
        <div class="paragraph">
            <p>
                Sandplay is a powerful therapeutic technique that facilitates the psyche’s natural capacity for healing.<br/>
                In a “free and protected” space provided by the analyst, a client creates a concrete manifestation of his or her imaginal world using sand, water, and miniature objects.<br/>
                In this way Sandplay helps honor and illuminate the client’s internal symbolic world and provides a place for its expression within a safe container, the tray filled with sand. With sufficient time and understanding, this experience can lead to the development of a new psychic structure of the personality.
            </p>
            <div class="quote">
                <h3>Terms</h3>
                <p>
                    Individualization<br/>
                    ——A person eventually becomes himself, which is integrated, indivisible and distinct from others<br/>
                    Archetype<br/>
                    ——The accumulation of primitive human experience. They are with us all the time just like fate, and are affecting our lives<br/>
                    Archetypal images<br/>
                    ——The form in which archetype presents itself to consciousness. We can understand the existence of the archetype and its meaning through the archetypal images
                </p>
            </div>
        </div>
        <img src="/images/sandword/5.png" class="img-full-width">
        <div class="paragraph">
            <h3>Advantages</h3>
            <p>
                When the cause of psychological distress is complicated, subconscious can express itself instead of language.<br/>
                The game itself is a cure as a human nature.<br/>
                Interesting treatments can reduce the user's psychological confrontation.<br/>
                Sandplay therapy does not address a specific problem. It is universal and helpful for the average people.
            </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="title yellow">
            <h1>Design</h1>
            <h2>——how to make treatment available online</h2>
        </div>
        <div class="paragraph">
            <h3>System Analysis</h3>
            <p>
                We made an user journey map of the offline sandplay therapy and analyzed what can be or can’t be done by mobile apps.
            </p>
        </div>
    </div>
</div>
<img src="/images/sandword/journey map.png" class="bannner">
<div class="dark-page">
    <div class="content-container">
        <div class="image-middle-container">
            <img src="/images/sandword/7.png" width="60%" style="margin: 60px">
        </div>
        <div class="paragraph">
            <h3>Mobile APP Design</h3>
            <p>
                We divided the app into three parts, which are external space, meditation space, and sand world, and uses them as the logic of interaction.
            </p>
            <div class="image-middle-container">
                <img src="/images/sandword/8.png" width="50%" style="margin: 60px">
            </div>
            <div class="image-middle-container">
                <img src="/images/sandword/9.png" width="100%" style="margin: 60px">
            </div>
        </div>
        <div class="paragraph">
            <h3>Screen Recording</h3>
            <p class="video">
                <iframe width="854" height="480"
                        src="https://youtu.be/rgXFefJegzc"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen>
                </iframe>
            </p>
        </div>
    </div>
</div>

<div class="dark-dark-page" style="padding-bottom: 0">
    <div class="content-container">
        <div class="title yellow" style="margin-bottom: 0">
            <h1>Prototype</h1>
            <h2>——Prototyping & Coding</h2>
        </div>
    </div>
</div>
<img src="/images/sandword/10.png" class="bannner">

<div class="light-page">
        <div class="content-container">
            <div class="ending-pointer">
                <div onclick="window.location.href='/icushion'">
                    <span class="next">Next Project</span><br/>
                    <span class="project">iCuchion</span>
                </div>
            </div>
        </div>
</div>
<div class="copyright">
        <div class="image-middle-container">
            <img src="/images/index/muben logo.png" width="2%" style="margin: 20px 0" >
        </div>
        Design & Powered by Sixuan Li &copy; 2017
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
