<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114063477-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114063477-1');
</script>
    <title>Sixuan Li - Project Showcase</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="nav">
    <div class="nav-title" onclick="window.location.href='/'"  style="cursor: pointer;" ><img src="/images/index/muben logo 2.png" width="6%" > Sixuan Li</div>
    <ul>
        <li onclick="window.location.href='/'">Work</li>
        <li onclick="window.location.href='/about'">About</li>
    </ul>
</div>
<div class="dark-page">
    <div class="content-container">
        <table class="left-and-right">
            <tr>
                <td class="left-and-right-left">
                    <div class="right-border">
                        <div class="paragraph">
                            <h1>Bing Search Redesign - Celebrity</h1>
                            <p>
                                Searching for celebrities' trending news is on the search campaign on mobile. However, users who search for celebrity and related scenarios can be quite different. <br/>
                                Considering search engines' advantages in accumulating user information, I decided to subdivide the behavior of celebrity searches and redesign the SERP page that emphasizes on personalization of the content and layout based on user characteristics.
                             </p>
                        </div>
                </td>
                <td class="left-and-right-right">
                    <div>
                        <div class="paragraph">
                            <h3>Key Words</h3>
                            <p>
                                Personalization<br/>
                                Modularization<br/>
                                Information Design
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
                <h3>Competitive Analysis</h3>
        </div>
        <div class="image-middle-container">
                <img src="/images/showcase/Competitive Analysis.png" width="100%" margin="40px 0">
        </div>
        <div class="paragraph">
            <p>
                    We can find that in the current SERP pages, <b>rarely updated basic information </b>almost always occupies half of the screen. However, do users really need these basic information? And do they need to view it every time ? </br>
                    What are the differences in information that celebrity fans need compared to people who don' t know stars? In order to answer these questions, I conducted a user interview and sorted out the answers.
            </p>
        </div>
        <div class="image-middle-container">
                <img src="/images/showcase/information.png" width="80%" margin="40px 0">
        </div>
        <div class="paragraph">
                <h3>User Study</h3>
                <p>
                    <b>Assumption</b></br>
                    The scenarios and expected information in SERP for different types of users (beginners, fans, and ordinary people) are quite different. 
                </br>
                </p>
                <div class="image-middle-container">
                        <img src="/images/showcase/User Study.png" width="100%" margin="40px 0">
                </div>
                <p>
                    <b> Ordinary people</b></br> 
                    "I prefer to read the news collection on wechat and I like reading everyone's comments. But I do sometimes earch for someone's videos."</br> 
                    <b>Beginners</b></br> 
                    "Generally when I watch TV shows and I find someone I feel I would like to know more about, I will use search engine to get more information."</br> 
                    <b>Fans</b></br> 
                    "I know every thing about the star, so I would only search for him when I need to verify something."
                </br> 
                </p>
            </br> 
                <div class="image-middle-container">
                        <img src="/images/showcase/baidu index.png" width="80%" margin="40px 0">
                </div>
            </br>
                <p>
                        According to Baidu Index, most people who search celebrities are fans or beginners who already know the basic info, and theiy expectied information are usually gossip news.
                </p>
                <div class="paragraph">
                    <h3>Findings</h3>
                    <p>
                            1. In the process from strangeness to familiarity, users expect different information from search engines.</br> 
                            2. Users often search for  celebrities with clear motivation and triggers
                                
                    </p>
                </div>
                <div class="paragraph">
                        <h3>Assumptions</h3>
                        <p>
                                1. Customize the SERP page for different users. Assigned different weights to related content based on how familiar the user is with the celebrity (and number of searches).</br> 
                                2. Create a framework that includes information that most users might need, and customize SERP page accordingly.</br> 
                                3. The SERP page plays the role of entrance and provides users with access to content of their interest.</br> 
                                4. Celebrity-related topics are very time-sensitive, so the weight and importance of infrequently changing information decline.</br> 
                                5. Different weights are assigned to related content based on how familiar the user is with someone.</br> 
                                6. Presents the information that the user wants most in the first page.
                                
                        </p>
                </div>
                <div class="paragraph">
                        <h3>Redesign</h3>
                        <p>
                                According to the previous analysis, I divided the contents of the SERP page into several parts in the form of notes representing different sorts of contents. When users search for celebtiries, these notes will be combined into corresponding personalized pages.
                        </br>
                        </p>
                        <img src="/images/showcase/pages.png" width="70%" margin="80px 40px">
                </div>
                <div class="paragraph">
                        <h3>Typical SERP Pages</h3>
                        <p>
                                According to user characteristics and needs, the types of modules that make up the SERP page and their relative areas are different.</br>
                                Here are the pages that may be assembled.
                        </p>
                </div>
                <div class="image-middle-container">
                        <img src="/images/showcase/final.png" width="80%" margin="40px 0">
                </div>
        </div>
    </div>
</div>
<div class="dark-page">
        <div class="content-container">
            <table class="left-and-right">
                <tr>
                    <td class="left-and-right-left">
                        <div class="right-border">
                            <div class="paragraph">
                                <h1>Bing Search Redesign - Weather</h1>
                                <p>
                                        Searching the weather using search engines is common, but the motivation and goals of such behavior are different from using the mobile phone APP to check the weather. Taking into account the great advantages of search engines in information accumulation about both the user and the weather, the weather answer can be strongly personalized. </br>
                                        By analyzing the possible scenarios where users would use search engines to check the weather,I decide to focus on helping users to check the weather where they might arrive in the future and helping them to analyze weather in different cities to make plans as well as giving them direct suggestion.
                                    </p>
                            </div>
                    </td>
                    <td class="left-and-right-right">
                        <div>
                            <div class="paragraph">
                                <h3>Key Words</h3>
                                <p>
                                    Personalization<br/>
                                    Calendar<br/>
                                    Suggestion
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Ideation</h3>
                <p>
                        Design Goals:  Creating touching points beyond users’ expectations
                </p>
            <img src="/images/showcase/ideation.png" width="30%" margin="40px 0"> 
            <p>
                Under what circumstances does the user use the search engine instead of the APP to check the weather?  </br>
            <b>Advantages of Search Engine</b> </br>
                · Accumulation of user data enables the search engine to know what the user’s final goal is when they check the weather. </br>
                · The search form of  text encourages users to ask detailed questions. </br>
                · The SERP page can be a more flexible form of presentation than the app, and it can even do different things for each person.   </br>
            </p>
        </div>  
        <div class="paragraph">
                <h3>Assumption</h3>
                <p>
                        · Users typically use search engines when they want to know the weather in other places in the next few days because of <b>travel plans</b>.</br>
                        · When the user only wants to know the current outdoor weather, the mobile app can also provide the user with the information they need in a more convenient way.</br>
                        · The advantage of the search engine in <b>mastering user information</b> can be embodied in the form of a <b>personal assistant</b>.</br>
                        · Different users need different suggestions even under the same weather conditions.
                </p>
        </div> 
        <div class="paragraph">
                <h3>Final Concept</h3>
        </div> 
        <div class="paragraph">  
        <div class="image-middle-container">
                <img src="/images/showcase/scenario1.png" width="90%" margin="40px 0">
        </div>
        </div>
        <div class="paragraph">  
                <div class="image-middle-container">
                        <img src="/images/showcase/scenario2.png" width="90%" margin="40px 0">
                </div>
        </div>
        <div class="paragraph">  
                <div class="image-middle-container">
                        <img src="/images/showcase/scenario3.png" width="90%" margin="40px 0">
                </div>
        </div>    
    </div>
</div>
<div class="grey-page">
    <div class="content-container">
            <div class="paragraph">  
            </br>
                    <div class="image-middle-container">
                            <img src="/images/showcase/icon.png" width="100%" margin="40px 0">
                    </div>
            </br>
            </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="ending-pointer">
            <div onclick="window.location.href='/'">
                <span class="next">Next Project</span><br/>
                <span class="project">Index</span>
            </div>
        </div>
    </div>
</div>

<div class="copyright">
        <div class="image-middle-container">
            <img src="/images/index/muben logo 2.png" width="24px" hight="24px" style="margin: 20px 0" >
        </div>
      Copyright&copy;2018 Sixuan Li. All Rights Reserved.
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
